<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.tkmybatis.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.tkmybatis.dao.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="SMALLINT" property="age"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

</mapper>